{% load  bootstrap3 %}

<!D0CTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">

      <title>英语考试在线报名</title>

      {% bootstrap_css %}
      {% bootstrap_javascript %}

</head>
<body>
    <!-- Static navbar-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle = "collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'cet46:index' %}">
                    英语考试</a>
            </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'cet46:index' %}">主页</a></li>
                        </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a>你好,{{ user.username }}.</a></li>
                        <li><a href="{% url 'users:logout' %}">退出</a></li>
                    {% else %}
                        <li><a href="{% url 'users:register' %}">注册</a></li>
                        <li><a href="{% url 'users:login' %}">登录</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
{#            <p>#}
{#                <a href="{% url 'cet46:index' %}">CET Apply Website</a> -#}
{#                {% if user.is_authenticated %}#}
{#                    Hello,{{ user.username }}#}
{#                    <a href="{% url 'users:logout' %}">log out</a>#}
{#                {% else %}#}
{#                    <a href="{% url 'users:register' %}">register</a> -#}
{#                    <a href="{% url 'users:login' %}">log in</a>#}
{#                {% endif %}#}
{#            </p>#}
        </div>
    </nav>


{#{% block content %}{% endblock content %}#}
    <div class="container">
        <div class="page-header">

            {% block header %}{% endblock header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>

    </div> <!-- /container -->



    <div class="container">
        <div class="algolia-docsearch-footer">
             <!-- FOOTER -->
            <footer>
                <p class="pull-right"><a href="#">返回页顶</a></p>
                <p>&copy; 2018,Copyright for Ali </p>
            </footer>
        </div>
    </div>


</body>
</html>