.container {
    position: relative;
    margin: 0 auto;
    height: auto ;
    height: 100%;
    min-height: 100%;
}

.content {
    padding: 1em 1em 5em;
    font-size: 30px;
}

.footer {
    position: absolute; /*相对于父元素contanier定位*/
    width: 100%;
    bottom: 0;/*始终距离它的父元素的底部为0px.则是处于父元素的最底*/
}

.footer{
    position:relative;
    width:100%;
    background-color: #333;
    color:#eee;
    text-align: center;
    font-size: 16px;
    height: 50px;
}

.footer span{
    line-height: 50px;
    }
#form_text{
    width: 50px;
}